@charset "utf-8";

/* ===== General CSS ============================================================ */
body, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* ===== Login Page ============================================================= */
.card.login {
    color: #2e2e2e;
    font-weight: 500;
    background: rgba(201, 201, 201, 0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card.login img {
    margin: 0 auto;
    display: block;
    max-width: 320px;
}

.card.login a, .card.login a:hover, .card.login a:focus, .card.login a:active {
    font-weight: 400;
    text-decoration: none;
    color: #45286a;
}

.btn-discord {
    color: #5865F2;
    background: rgba(88, 101, 242, 0.2);
    border: solid 2px #5865F2;
}

.btn-discord:hover, .btn-discord:focus, .btn-discord:active {
    background: rgba(88, 101, 242, 0.75);
    transition: all .8s;
    text-decoration: none;
    box-shadow: none;
}


/* ===== Home Page ============================================================== */
.card.home {
    color: #19191a;
    background: rgba(201, 201, 201, 0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.img-thumbnail {
    padding: 0 ;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #094c6a;
}

.nav-link:focus, .nav-link:hover {
    color: #094c6a;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #094c6a;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

li {
    font-weight: 500;
}

/* ===== Quizz Page ============================================================= */
.tab, .wait {
    display: none;
}

.tab-quizz {
    background: #f7f7f7;
    padding: 15px 10px 10px 10px;
    border-radius: 4px;
}

.tab-quizz h5 {
    color: #333;
    font-weight: 400;
    margin-bottom: 15px;
}

.last-step h5, .last-step p {
    color: #f1f1f1;
    font-weight: 400;
    margin-bottom: 15px;
}

.utl:first-child {
    text-align: left;
}

.utl:last-child {
    text-align: right;
}

.progress-bar {
    background: #36bbe3;
}

.jst-hours, .jst-minutes, .jst-seconds {
    float: left;
}

.jst-clearDiv {
    clear: both;
}

.jst-timeout {
    color: #862d2d;
}

.form-control {
    height: auto;
}

.form-control label {
    margin-bottom: 0;
}
